{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

	<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
	{% bootstrap_css %}

	<title>Erro 404</title>

</head>
<body>

	<div class="container">

		<!-- Topo com logo e botão Logout -->
		<header>
			<div class="topo">
				<div>
					<h2 class="logo"><a href="{% url 'home' %}" class="text-secondary">COMPANY</a></h2>
				</div>
			</div>
		</header>
		<br>
        <div>
            <h1>ERRO 404! - Página não encontrada</h1>
        </div>

	</div>
</body>
</html>
