body {
    font-family: 'Times New Roman'
}

.container {
    height: 100vh;
}

.topo {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.topo a {
    text-decoration: none;
}

.menu-entrada .btn {
    width: 250px;
    height: 50px;
    font-size: 1.5em;
    margin: 10px;
}

.menu-entrada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}


.table a {
    text-decoration: none;
}
